{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Create a New Post {% endblock %}</h3>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}"/>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
    <div>
        <a href="{{url_for('index')}}">
            <span class="btn btn-info btn-sm">Cancel</span>
        </a>
    </div>

</form>
{% endblock %}
